body {
  background-color: #101010;
  background-image: url('../public/texture-opacity-0-02.png');
}

.app {
  position: relative;
  
  &__header {
    align-items: flex-end;
    background-color: #1B1A1A;
    background-image: url('../public/texture-opacity-0-05.png');
    display: flex;
    height: 164px;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;

    img {
      height: 90px;
      width: 90px;
    }
  }

  &__main-section {
    background-color: #1B1A1A;
    background-image: url('../public/texture-opacity-0-05.png');
    display: flex;
    margin-top: 164px;
    padding-bottom: 71px ;
    position: relative;
    width: 100%;
    justify-content: center;

    &__main-tag {
      padding-top: 98px;
      margin-right: 50px;

      span {
        color: #CFA3F7;
        font-family: 'Poppins-SemiBold';
        font-size: 20px;
        letter-spacing: 0;
        line-height: 30px;
      }

      h1 {
        color: #BF55ED;
        font-family: Jua;
        font-size: 65px;
        letter-spacing: 6.5px;
        line-height: 81px;
      }

      h2 {
        color: #A8E0CC;
        font-family: Poppins-SemiBold;
        font-size: 30px;
        letter-spacing: 0;
        line-height: 46px;
      }

      p {
        color: #CACACA;
        font-family: Poppins;
        font-size: 18px;
        letter-spacing: 0;
        line-height: 30px;
      }

      button {
        background-color: #A627F2;
        border: 0;
        border-radius: 4px;
        color: #FFFFFF;
        display: block;
        font-family: "OpenSans-SemiBold";
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 0;
        line-height: 21px;
        margin: 24px 0 44px;
        padding: 7px 10px 9px;
        text-align: center;
      }
    }

    &__main-photo {
      padding-top: 53px;
      position: relative;

      figure {
        margin: 0;
      }

      &__oval {
        background: linear-gradient(338.4deg, #A7FDDB 0%, #EBADFF 99.04%);
        border-radius: 100%;
        height: 372px;
        left: 62%; /* Posiciona el div en el centro del contenedor principal */
        position: absolute;
        top: 37%; /* Posiciona el div en la mitad superior del contenedor principal */
        transform: translate(-50%, -50%); /* Centra el div correctamente */
        width: 373px;
      }

      img {
        height: 441px;
        position: relative; /* Establecer posición relativa en la imagen */
        z-index: 1; /* Hace que la imagen esté por encima del div */
      }

      div {
        display: flex;
        justify-content: center;
        margin: 0;
      }

      .korean {
        color: #98E2CB;
        font-family: Poppins-SemiBold;
        font-size: 22px;
        letter-spacing: 0;
        line-height: 33px;
        opacity: 0.5;
        text-align: center;
      }

      .text {
        color: #98E2CB;
        font-family: Poppins-SemiBoldItalic;
        font-size: 22px;
        letter-spacing: 0;
        line-height: 33px;
        opacity: 0.5;
        text-align: center;
      }
    }
  }

  &__aside-socialmedia {
    align-items: center;
    background-color: #242424;
    border-radius: 0 3px 3px 0;
    bottom: -50px;
    display: inline-flex;
    flex-direction: column;
    left: 0;
    padding: 16px 25px;
    position: absolute;

    h2 {
      color: #717171;
      font-family:  Poppins-Medium;
      font-size: 18px;
      letter-spacing: 0;
      line-height: 30px;
      margin: 0 0 8px 0;
    }

    div {

      .github {
        margin-right: 31px;
      }

      img {
        height: 29px;
        width: 29px;
      }
    }
  }

  &__projects-articles-section {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 199px 0 124px 0;


    &__title {
      margin: 0 185px 34px 185px;

      h2 {
        opacity: 0.5;
        color: #98E2CB;
        font-family: Jua;
        font-size: 30px;
        letter-spacing: 0;
        line-height: 38px;
        margin: 0;
        
      }
    }

    &__projects-section {
      display: flex;
      flex-direction: column;
      
    }

    ol {
      color: #CACACA;
      font-family: Poppins-Italic;
      font-size: 18px;
      letter-spacing: 0;
      line-height: 30px;
      list-style: none; /* Elimina la lista predeterminada */
      counter-reset: item;
      margin: 0 185px 0 185px;
      padding: 0;

      li {
        position: relative;
        counter-increment: item; /* Incrementa el contador en cada elemento de la lista */
      
        /* Agrega un guion después del número */
        &::before {
          content: counter(item) "-  ";
          right: 100%;
        } 

        a {
          color: #CACACA;
        }
      
      }
      
    }
  }

  &__skills-section {
    background-color: #1B1A1A;
    background-image: url('../public/texture-opacity-0-05.png');
    display: flex;
    align-items: center;
    padding: 205px 0 230px 0;
    flex-direction: column;

    span {
      color: #CFA3F7;
      font-family: 'Poppins-SemiBold';
      font-size: 20px;
      letter-spacing: 0;
      line-height: 30px;
    }

    p {
      color: #CACACA;
      font-family: Poppins;
      font-size: 18px;
      letter-spacing: 0;
      line-height: 30px;
      margin: 19px 369px 16px;
      text-align: center;

      span {
        color: #A8E0CC;
        font-weight: 600;
      }
    }

    h2 {  
      opacity: 0.5;
      color: #98E2CB;
      font-family: Jua;
      font-size: 40px;
      letter-spacing: 0;
      line-height: 50px;
      margin-right: 20px;
    }

    &__container {  
      display: flex;
      margin: 100px 0;
      
      &__progress-bars {
        display: flex;
      }
    }
  }

  &__contact-section {

    display: flex;
    justify-content: space-around;
    margin: -61px 150px 61px 150px;

    &__title {

      justify-content: center;

      h1 {
        color: #CF44F5;
        font-family: Jua;
        font-size: 52px;
        letter-spacing: 5.2px;
        line-height: 65px;
        margin-top: 0;
      }

      h2 {
        opacity: 0.5;
        color: #98E2CB;
        font-family: Poppins;
        font-size: 24px;
        font-style: italic;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 35px;
      }

      p {
        color: #CACACA;
        font-family: Poppins;
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 0;
        line-height: 27px;
      }
      
    }


    &__form {
      display: flex;
      padding: 44px 33px 45px;
      box-sizing: border-box;
      border: 1px solid #CBFDE8;
      border-radius: 4px;
      background-color: #272727;
      margin-top: -70px;
    }
  }

  &__copyright-section {

    background-color: #1B1A1A;
    padding: 24px 0;
    display: flex;
    justify-content: center;

    h3 {
      color: #CACACA;
      font-family: Poppins;
      font-size: 18px;
      letter-spacing: 0;
      line-height: 27px;
      margin: 0;
    }

  }
}
